body {
	margin: 1em;
	background-color: #EEE;
}
.peoplebox {
	border: 2px solid #336699;
	border-radius: 20px;
	padding: 0.5em;
	font-family: arial;
}
.normalbox {
	height: 640px;
	width: 750px;
	display: block;
	clear: both;
	position: relative;
	background: #eee;
	top: -20px;
	height: 640px;
}
.leftdiv {
	float: left;
	width: 65%;
	height: 220px;
	background-color: #CCEEFF;
}
.display_staff {
	float: right;
	width: 500px;
	text-align: center;
	height: 660px;
}
.display_visitor {
	display: block;
	float: left;		
	width: 750px;
	height: 320px;
	margin-bottom: 1em;
}
.display_startups {
	display: block;
	float: left;		
	width: 750px;
	height: 320px;
}
.titlediv {
	padding-bottom: 1em;
}
.boxtitle {
	display: inline-block;	
	font-size: 1.2em;
	margin: 0;
	padding: 0;
}
.person {
	text-align: center;
	width: 120px;
	padding-bottom: 1em;
	display: none;
}
.pages_nav {
	font-size: 2em;
}
.pages_nav a {
	cursor: pointer;
}
.people {
	height: 560px;
	overflow: none;
}
.person_all {
	text-align: center;
	width: 120px;
	display: inline-block;
	padding-bottom: 1em;
}
.people_pic {
	padding-left: 10px;
	width: 100px;
	height: 100px;
	display: block;
	margin-bottom: 0.5em;
}
.people_pic_all {
	padding-left: 10px;
	width: 100px;
	height: 100px;
	display: block;
	margin-bottom: 0.5em;
}
#categories {
        padding-top: 1.2em;
        display: block;
	margin-left: 20px;
        width: 750px;
}
#categories ul {
        list-style: none;
        padding:0;
        margin:0;
        text-align: center;
        min-width: 600px;
}
#categories li {
        float: left;
        border: 2px solid #336699;
        border-radius: 10px;
        border-bottom-width: 0;
        padding: 0.5em;
        margin-right: 0.5em;
        width: 18%;
        height: 50px;
        cursor: pointer;
	font-size: 1.3em;
}
#categories li a {
        padding: 0 1em;
}
#categories .selected {
        position: relative;
        top: 1px;
        background: #bbb;
}
.ops {
	border: 1px dashed #336699;
	border-radius: 10px;
}
.ops_box {
	width: 320px;
	height: 160px;
	display: inline-block;
	overflow: hidden;
}
.ops_box h2 {
	margin-top: 0.1em;
	margin-bottom: 0.1em
}
.ops_box_left {
	border-right: 1px dashed #336699;
}
.ops_box_top {
	border-bottom: 1px dashed #336699;
}
.ops {
	width: 650px;
}
.roles {
	border: 1px dashed #6699AA;
	border-radius: 10px;
	width: 300px;
	text-align: center;
}
.role_type td {	
	height: 32px;
	width: 33%;
	font-size: 24px;
	font-weight: bold;
}
.role_select {
	cursor: pointer;
	height: 60px;
}
.role_selected {
	background-image: url("blank/person.png");
	background-size:60px 60px;
	background-repeat:no-repeat;
	background-position:center; 
}
.role_select_middle {
	border-left: 1px dashed #6699AA;
	border-right: 1px dashed #6699AA;
}
.role_pic {
	height: 60px;
}
.nns {
	display: inline-block;
}
.slogan {
	margin: 0;
	position: absolute;
	top: 42px;
	right: 10px;
	color: black;
	font-weight: bold;
	font-size: 20px;
	line-height: 1em;
	margin-left: 2px;
	font-family: Helvetica, sans-serif;
}
